name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  CONAN_REVISIONS_ENABLED: 1

jobs:
  builds:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: linux
            os: ubuntu-18.04
            script: ./conan.py linux
          - name: macos
            os: macos-10.15
            script: ./conan.py macos
          - name: windows
            os: windows-2019
            script: py conan.py windows
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Print environment variables
        run: env

      - name: Install required packages
        if: matrix.name == 'linux'
        run: sudo apt-get install ninja-build python3-setuptools -y

      - name: Install Conan
        run: pip3 install conan --upgrade

      - name: Print versions
        run: |
          cmake --version
          conan --version

      - name: Build
        run: ${{ matrix.script }}
        env:
          DEVELOPER_DIR: /Applications/Xcode_12.4.app/Contents/Developer

      - name: Conan package upload
        if: github.ref == 'refs/heads/main'
        run: |
          conan user --password ${{ secrets.ARTIFACTORY_API_KEY }} --remote artifactory-ssrobins ${{ secrets.ARTIFACTORY_USER }}
          conan upload $(conan inspect --raw name .) --all --remote artifactory-ssrobins --confirm --parallel
